#Login {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color-login);
}

.container-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-login img {
  cursor: pointer;
}

.container-login h1 {
  font-size: calc(var(--font-size-h1) * var(--font-size-multiplier));
  color: var(--color-home);
  margin: 1rem 0 2rem;
}

.container-login a:hover {
  text-decoration: underline;
  color: #0072bb;
}

.container-login form {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-login form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.container-login form .input-group label {
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  color: var(--color-home);
  padding: 0 0.5rem;
  pointer-events: none;
}

.container-login form .input-group input {
  width: 100%;
  height: 50px;
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  padding: 0 1rem;
  color: var(--color-home);
  background: transparent;
  border: 1px solid var(--color-home);
  border-radius: 5px;
  outline: none;
}

.container-login form input[type='checkbox'] {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 0.8rem 0 0;
}

.container-login form a {
  text-decoration: none;
  color: var(--color-home);
}

.container-login form button {
  width: 100%;
  height: 50px;
  background-color: #0072bb;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: calc(var(--font-size-login-button) * var(--font-size-multiplier));
  cursor: pointer;
  outline: none;
  margin: 1rem 0;
}

.lembrar-esqueci {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.lembrar-esqueci label {
  display: flex;
  padding: 0;
  margin: 0;
  color: var(--color-home);
}

.lembrar-esqueci label,
.lembrar-esqueci input {
  cursor: pointer;
}

.dont-have-account {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.dont-have-account a {
  padding-left: 0.5rem;
  text-decoration: underline !important;
}

@media screen and (max-width: 640px) {
  .container-login {
    padding: 0 1rem;
  }

  .container-login h1 {
    font-size: calc(var(--font-size-h1-mobile) * var(--font-size-multiplier));
    text-align: center;
  }

  .container-login form {
    width: 100%;
  }
}
