.section {
  background: linear-gradient(180deg, #9fdaff 0%, #eefafa 100%);
}

.app,
#Recurso {
  max-width: 1296px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.a-container {
  width: 100%;
  height: 100%;
  z-index: 96;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px;
}

.ac-titulo p,
.rc-titulo p {
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 700;
}

.ac-info {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.i-download {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.i-download img {
  width: 220px;
}

.i-qrcode {
  display: flex;
  justify-content: end;
  align-items: center;
}

.qr-content {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.i-arrow {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}

.qr-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 1rem;
}

.qr-t {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.qr-p {
  font-size: 0.9rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.qrcode::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(0, 114, 187, 0.5);
  filter: blur(100px);
  z-index: 97;
}

.qr-container img {
  width: 100%;
  z-index: 99;
}

#Recurso {
  padding: 0 0 50px;
}

.r-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.rc-titulo {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.rc-titulo p {
  margin-block-start: 0px;
}

.recurso {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.recurso img {
  max-width: 542px;
  height: auto;
  border-radius: 1rem;
}

.sombra-img {
  position: relative;
  margin: 30px 0;
  width: 100%;
  height: 25px;
  border-radius: 100%;
  background: rgba(0, 90, 140, 1);
  filter: blur(25px);
  z-index: 100;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 50px;
}

.resource-box {
  background-color: #fff;
  width: 350px;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.resource-box h2 {
  font-size: 18px;
  color: #333;
}

.resource-box p {
  font-size: 14px;
  color: #555;
}

.container-perguntas {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.perguntas {
  padding: 40px 20px 100px;
  max-width: 1024px;
  margin: 0 auto;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

details {
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}

details:not([open]) {
  height: 75px;
}

details[open] {
  height: 130px;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.faq-item {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.faq-item summary {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #333;
  list-style: none;
  outline: none;
}

.faq-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.icon {
  font-size: 24px;
  color: #007aff;
}

.contact-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.contact-section h2 {
  font-size: 22px;
  color: #333;
}

.contact-section p {
  font-size: 16px;
  max-width: 90%;
  color: #555;
}

.contact-section button {
  background-color: #0073bc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  transition: background-color 0.3s;
}

.contact-section button:hover {
  background-color: rgba(0, 90, 140, 1);
}

@media screen and (max-width: 1296px) {
  .r-container,
  .perguntas,
  #Recurso {
    padding: 0 1rem;
  }
}

@media (max-width: 1024px) {
  .r-container {
    flex-direction: column;
  }

  .recurso {
    display: none;
  }

  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  .contact-section button {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 640px) {
  .a-container {
    padding: 0;
  }

  .ac-titulo p,
  .rc-titulo p {
    font-size: 1.8rem;
    text-align: center;
  }

  .ac-info {
    width: 310px;
  }

  .i-download img {
    width: 150px;
  }

  .qr-content {
    width: 180px;
  }

  .i-arrow {
    padding: 0.5rem;
  }

  .qr-container {
    padding: 12px;
  }

  .qrcode::before {
    filter: blur(150px);
  }

  .qr-container img {
    width: 90%;
  }

  .r-container {
    gap: 25px;
    padding: 0;
  }

  .left-column,
  .right-column {
    height: auto;
    gap: 25px;
  }

  .perguntas {
    padding: 0 1rem 50px;
  }

  details[open] {
    height: 180px;
  }
}
