#Contato {
  width: 100%;
  background-color: var(--background-color-controle);
}

.contato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1296px;
  height: 100%;
  margin: 0 auto;
  padding: 150px 0;
  gap: 1rem;
}

.contato-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.contato-container h1 {
  font-size: calc(var(--font-size-h1) * var(--font-size-multiplier));
  margin-bottom: 1rem;
}

.contato-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contato-container form label {
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  color: var(--color-home);
}

.contato-container form input,
.contato-container form textarea {
  min-width: 100%;
  max-width: 616px;
  margin: 5px 0 10px;
  padding: 10px;
  border: none;
  box-shadow: var(--box-shadow-contato);
  background: #e6f8f8;
}

.contato-container form textarea {
  min-height: 42px;
  max-height: 400px;
  height: 150px;
}

.contato-container .form-button {
  display: flex;
  justify-content: center;
}

.contato-container .form-button button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0072bb;
  color: #fff;
  cursor: pointer;
  font-size: calc(var(--font-size-button) * var(--font-size-multiplier));
}

.contato-img {
  display: none;
}

.contato-img img {
  width: 664px;
}

@media screen and (max-width: 1296px) {
  .contato {
    padding: 100px 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .contato-img {
    display: block;
  }
}
