#Controle {
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color-controle);
}

.c-container {
  max-width: 1296px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 50px auto 25px auto;
}

.ccc-img {
  display: none;
  width: 40%;
  margin-right: 100px;
  filter: drop-shadow(45px 35px 30px rgba(0, 90, 140, 0.4));
}

.ccc-img img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.cc-content {
  width: 100%;
  height: 100%;
}

.ccc-info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.c-label {
  display: flex;
  justify-content: start;
  align-items: end;
}

.c-label p {
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  margin-block-end: 0px;
  padding: 0 0 15px 35px;
}

.i-titulo p,
.c2c-titulo p {
  font-size: calc(var(--font-size-h1-mobile) * var(--font-size-multiplier));
  line-height: 2.25rem;
  font-weight: 700;
}

.i-group {
  display: grid;
  width: 100%;
  row-gap: 2.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.s-topico {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.t-numero {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 52px;
  border-radius: 0.75rem 0 0 0.75rem;
  font-size: calc(var(--font-size-controle-numero) * var(--font-size-multiplier));
  line-height: 1.75rem;
  font-weight: 700;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
  margin: 0 0.75rem 1rem 0;
  background-color: #82ccfd;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 90, 140, 1);
  box-shadow: 3px 3px 5px rgba(0, 90, 140, 1);
}

.t-titulo p {
  font-size: calc(var(--font-size-controle-titulo-mobile) * var(--font-size-multiplier));
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5rem;
  max-width: 300px;
  margin-bottom: 0.5rem;
}

.t-info p {
  display: block;
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  line-height: 1.5rem;
}

.content2 {
  max-width: 1296px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.c2-container {
  width: 100%;
  height: 100%;
}

.c2c-label p {
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  margin-block-end: 0px;
  padding: 35px 0 15px 0;
}

.c2c-titulo p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.c2c-info {
  display: grid;
  width: 100%;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(0, 380px));
  justify-content: space-between;
  align-items: start;
  padding: 30px 0 50px;
}

.i-grid {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.g-titulo p {
  font-size: calc(var(--font-size-controle-titulo-mobile) * var(--font-size-multiplier));
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5rem;
  padding: 0;
  margin-block-end: 0px;
}

.g-text p {
  display: block;
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: calc(var(--font-size-p) * var(--font-size-multiplier));
  line-height: 1.5rem;
}

.rodape-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 50px 0;
  margin: 0;
}

.rodape-info .p-rodape {
  font-weight: bold;
  font-size: calc(var(--font-size-rodape) * var(--font-size-multiplier));
}

.margin {
  margin-block-start: 0;
  margin-block-end: 0;
}

.linha {
  width: 1296px;
  height: 1px;
  background-color: #b7bcc0;
  margin: auto;
}

@media screen and (max-width: 1296px) {
  .c-container,
  .rodape-info {
    padding: 50px 1rem;
  }

  .c2-container {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .cc-content {
    width: auto;
  }

  .ccc-img {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .i-titulo p,
  .c2c-titulo p {
    font-size: calc(var(--font-size-h1) * var(--font-size-multiplier));
    line-height: 1;
  }

  .i-group {
    row-gap: 2rem;
    column-gap: 3.5rem;
  }

  .s-topico {
    flex-direction: column;
  }

  .t-numero {
    height: 52px;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
  }

  .t-titulo p {
    max-width: 280px;
  }
}

@media screen and (min-width: 640px) {
  .i-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .t-titulo p,
  .g-titulo p {
    font-size: calc(var(--font-size-controle-titulo) * var(--font-size-multiplier));
    line-height: 1.75rem;
  }

  .t-info p {
    max-width: 400px;
  }
}
