footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 1296px;
  padding: 25px 0;
  gap: 1rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.footer-direitos {
  text-align: center;
}

@media screen and (max-width: 1196px) {
  .footer-container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .footer-logo {
    position: absolute;
    left: 0;
  }
}
