@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 80vh;
  width: 100%;
}

.w {
  width: 1296px;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
  background: #333;
  /* Cor de fundo da área da barra */
}

/* Estilização do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #999;
  /* Cor de fundo do polegar */
  border-radius: 5px;
  /* Raio das bordas do polegar */
}

/* Estilização quando o usuário passa o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Cor de fundo do polegar ao passar o mouse */
}
