@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: inherit;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  overflow-x: hidden;
  -webkit-text-stroke: 0.2px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

p,
h1,
a {
  color: var(--color-home);
}

.w {
  max-width: 1296px;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
  background: #333;
  /* Cor de fundo da área da barra */
}

/* Estilização do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #999;
  /* Cor de fundo do polegar */
  border-radius: 5px;
  /* Raio das bordas do polegar */
}

/* Estilização quando o usuário passa o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Cor de fundo do polegar ao passar o mouse */
}

:root {
  /* Tamanhos de fonte padrão */
  --font-size-h1: 3rem;
  --font-size-h1-mobile: 1.875rem;
  --font-size-h2: 1.25rem;
  --font-size-p: 1rem;
  --font-size-p-mobile: 0.9rem;
  --font-size-button: 1rem;
  --font-size-button-mobile: 1.2rem;
  --font-size-rodape: 1.5rem;
  --font-size-controle-numero: 2rem;
  --font-size-controle-titulo: 1.25rem;
  --font-size-controle-titulo-mobile: 1.125rem;
  --font-size-recurso-qr-titulo: 1rem;
  --font-size-recurso-qr-p: 0.9rem;
  --font-size-recurso-summary-titulo: 1.25rem;
  --font-size-recurso-summary-p: 1rem;
  --font-size-recurso-summary-icon: 1.5rem;
  --font-size-contato-titulo: 1.5rem;
  --font-size-contato-h2: 1.4rem;
  --font-size-quem-somos-h2: 2rem;
  --font-size-quem-somos-button: 1.25rem;
  --font-size-login-button: 1.25rem;
  --font-size-cadastro-button: 1.25rem;

  /* Multiplicador de tamanho de fonte (para controle de aumento) */
  --font-size-multiplier: 1;

  /* Variáveis de cores para tema claro */
  --background-color: #ffffff;
  --background-color-home: #9fdaff;
  --color-home: #172734;
  --background-color-controle: #eefafa;
  --background-color-header: #ffffff;
  --color-header: black;
  --box-shadow-contato: 1px 1px 2px rgba(0, 0, 0, 0.5);
  --background-color-quem-somos: #ffffff;
  --background-color-quem-somos2: #449cd6;
  --color-quem-somos: #172734;
  --background-color-login: #ffffff;
  --background-color-cadastro: #ffffff;
}

.dark-mode {
  /* Variáveis de cores para tema escuro */
  --background-color: #e5e5e5;
  --background-color-home: #202c33;
  --color-home: #91b3cf;
  --background-color-controle: #242424;
  --background-color-header: #242424;
  --color-header: #91b3cf;
  --box-shadow-contato: 2px 2px 5px rgba(255, 255, 255, 0.7);
  --background-color-quem-somos: #8a8a8a;
  --background-color-quem-somos2: #272727;
  --color-quem-somos: #91b3cf;
  --background-color-login: #242424;
  --background-color-cadastro: #242424;
}
